body {
    margin: 0;
    padding: 0;
  }
  .extra{
    background-color: palegreen;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .page {
    width: 600px;
  }
  .hh {
    font-size: 45px;
    color: #ff0000;
  }
  .link-more {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, #f7b733, #fc4a1a);
    border-radius: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .bfg {
    color: orange;
  }
  .flex-container {
    display: flex;
   
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .half-width {
    width: 40%;
    margin: 0 2%;
    padding: 2% 0;
  }

  .half-width img {
    width: 100%;
  }
  
  .half-width h1 {
    color: #110f0f;
  }
  .half-width p {
    color: #141313;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
  }
  .about {
    background-image: url("./image/Frame\ 57.jpg");
    background-repeat: no-repeat;
    background-position: center left;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recipes {
    width: 500px;
    text-align: center;
  }
  .recipes p {
    color: #828282;
  }.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .card-inner {
    width: 26%;
    margin: 0 2%;
    padding: 2% 0;
  }
  .card-body {
    box-shadow: -5px 5px 20px gray;
    padding: 4%;
    border-radius: 10px;
    height: 450px;
  }
  .card-body img {
    width: 100%;
  }
  .card-body p {
    text-align: justify;
    color: #828282;
  }
  